  {{#each alphas}}
<div class="flex-row">


 
  <div class="flex-cell">
    {{colour}}
  </div>
  
 
  <div class="flex-cell">
  {{plate}}
  </div>

  
  <button id="{{id}}" class="add-new" type="submit"><a href="/edit/{{id}}">edit</a></button>

  
   
</div>
  {{/each}}
  
