<form class="new-data" method="post">
  <label for="colour" class="new-data">
    <input id="colour-input" name="colour" placeholder="Colour"/>
  </label>
  <label for="plate" class="new-data">
    <input id="plate-input" name="plate" placeholder="Plate"/>
  </label>
  <button id="button" class="add-new" type="submit" name="">Add new car</button>
</form>
      <div class="table-of-contents" id="table">
        <div class="flex-row">

          <div class="flex-cell-header" id="cell">Colour</div>
          <div class="flex-cell-header" id="cell">Plate</div>
          
        </div>
       
        {{>newcar}}

       
      </div>
      <div >
      </div>
    </div>